In [56]:
import pandas as pd

## Week_3 solution of problem 1

In [57]:
# get all the table as in alist
all_table= pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

In [58]:
# check number of table in the list
len(all_table)

3

In [59]:
 table=all_table[0] 

list(table.columns)

['Postcode', 'Borough', 'Neighbourhood']

In [60]:
# converting to dataframe
df_torento_postal  =pd.DataFrame(table)

In [61]:
df_torento_postal.dtypes

Postcode         object
Borough          object
Neighbourhood    object
dtype: object

In [62]:
df_torento_postal.shape

(287, 3)

In [63]:
df_torento_postal.head(5)
df_torento_postal.columns

Index(['Postcode', 'Borough', 'Neighbourhood'], dtype='object')

In [64]:
# removing the row which Borough is 'Not assigned'
df_torento_postal= df_torento_postal[df_torento_postal.Borough!= "Not assigned"]

In [65]:
df_torento_postal.shape

(210, 3)

In [66]:
# iterate throuh each row and replace "Not assigned " Neibourhood with corresponding Borough
    
for index_label, row_series in df_torento_postal.iterrows():
    if df_torento_postal.at[index_label , 'Neighbourhood'] == "Not assigned":
        df_torento_postal.at[index_label , 'Neighbourhood'] = row_series['Borough']

In [67]:
df_torento_postal.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A      Queen's Park      Queen's Park
9       M9A      Queen's Park      Queen's Park
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

In [68]:
df_torento_postal.shape

(210, 3)

In [70]:
#First split  Neighbourhood column by comma, then groupby by Postcode and use generator for flatten nested lists with set and join:
df =  (df_torento_postal['Neighbourhood'].str.split(', ')
                    .groupby(df_torento_postal['Postcode'])
                    .agg(lambda x: ', '.join(set(y for z in x for y in z)))
                    .reset_index())

In [71]:
df.head()

  Postcode                           Neighbourhood
0      M1B                          Rouge, Malvern
1      M1C  Port Union, Highland Creek, Rouge Hill
2      M1E       West Hill, Morningside, Guildwood
3      M1G                                  Woburn
4      M1H                               Cedarbrae

In [72]:
df.shape

(103, 2)

In [75]:
# droping column neighbourhood along column
df_without_neighbourhood = df_torento_postal.drop('Neighbourhood', axis = 1)

In [78]:
# merging two dataframe
New_df = pd.merge(df_without_neighbourhood,df ,on='Postcode', how='left' )

In [79]:
New_df.head(10)

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto                      Harbourfront
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M6A        North York  Lawrence Heights, Lawrence Manor
5      M7A      Queen's Park                      Queen's Park
6      M9A      Queen's Park                      Queen's Park
7      M1B       Scarborough                    Rouge, Malvern
8      M1B       Scarborough                    Rouge, Malvern
9      M3B        North York                   Don Mills North

In [80]:
New_df.shape

(210, 3)

In [81]:
# dropping all duplicate
df_1 = New_df.drop_duplicates()

In [83]:



# this is the final dataframe for week3-1 problem
df_1.head(10)

   Postcode           Borough                     Neighbourhood
0       M3A        North York                         Parkwoods
1       M4A        North York                  Victoria Village
2       M5A  Downtown Toronto                      Harbourfront
3       M6A        North York  Lawrence Heights, Lawrence Manor
5       M7A      Queen's Park                      Queen's Park
6       M9A      Queen's Park                      Queen's Park
7       M1B       Scarborough                    Rouge, Malvern
9       M3B        North York                   Don Mills North
10      M4B         East York   Woodbine Gardens, Parkview Hill
12      M5B  Downtown Toronto          Garden District, Ryerson

In [85]:
df_1.shape

(103, 3)

In [86]:
geo =  pd.read_csv('https://cocl.us/Geospatial_data')

In [87]:
geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [94]:
geo.dtypes
#geo.rename( columns ={'Postcode': 'Postal Code'} )

Postal Code     object
Latitude       float64
Longitude      float64
dtype: object

In [100]:
geo.rename( columns ={'Postal Code': 'Postcode'} , inplace =True)
geo.shape
geo.head(5)

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [101]:
df_2 = pd.merge(df_1, geo, on ='Postcode', how ='left')

In [102]:
df_2.shape

(103, 5)

In [103]:
df_2.head(10)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Harbourfront,43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494
5,M9A,Queen's Park,Queen's Park,43.667856,-79.532242
6,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
7,M3B,North York,Don Mills North,43.745906,-79.352188
8,M4B,East York,"Woodbine Gardens, Parkview Hill",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937